@charset "utf-8";
/* CSS Document */
/*
body {
	font-family::"Times New Roman", Times, serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	color: #000;
	background-color:#E4E4E4;
	background-attachment:fixed;
	}
a:link,a:visited {
	 text-decoration:none;
	 color:inherit;
 }
img
{
	border:0px !important;
}
#wrapper {
	 width:100%;
	 min-width:985px;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;

 }
 #wrapper-inner {
	 width:100%;
	 min-width:985px;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;
 }
#header
 {
	background:url(../img/background/h.jpg);
	height: 186px;
	min-width: 985px;
	width: 100%;
 }
#header-inner 
{ 
	background:url(../img/background/banner.jpg) no-repeat;
	background-color:transparent;
	height: 100%;
	margin: 0px auto;
	position: relative;
	width: 1000px;

}
#header-menu
{
	color:#FFF;
	background-color: transparent;
	height: auto;
	width: 1000px;
	float:left;
}
#user-box
{
	color:#FFF;
	background-color:transparent;
	height: 0px;
	width: 180px;
	float:left;
	text-align:right;
	visibility:hidden;
}
#header-content
{
	background:transparent;
	height: 100%;
	width: 980px;
	float:left;

}
#header-bg
{
	background-color:transparent;
	height:auto;
	width:1000px;
	float:left;
}
#logo
{
	background-color:transparent;
	height:162px;
	width:240px;
	float:left;
}
#search-box
{
	background-color:transparent;
	text-align:right;
	height:162px;
	width:740px;
	float:left;
}
#search-inner
{
	background-color:#000;
	opacity:1;
	margin:10px auto;
	margin-right:10px;
	text-align:left;
	width:290px;
	z-index:0;
	height:40px;
}
#slide-menu
{
	position:relative;
	float:left;
	margin:0 auto;
	left:-210px;
	background:url(../img/background/nav_converse.png) center 250px transparent;
	width:915px;
	padding:10px;
	height:230px;
	z-index:1001;
	visibility:visible;
	display:none;
	


}
#lightbox
{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.9;
	background-color:#000;
	min-width:100%;
	min-height:100%;
	z-index:1000;
	display:none;
}
#status-box
{
	background-color:transparent;
	height:72px;
	width:210px;
	float:left;
	padding:10px;
	visibility:hidden;
}
#baseDiv
{
	background-color: transparent;
	height: auto;
	min-height:480px;
	min-width: 985px;
	width: 100%;
	position:relative;

}

#baseDiv-inner
{
	background-color:transparent;
	height: auto;
	min-height:480px;
	width: 1000px;
	margin:0 auto;
}

#page
{
	background-color:transparent;
	height: auto;
	min-height:480px;
	width:748px;
	margin:0 auto;
	float:left;
	position:relative;

}
#page-head
{
	background-color:#FFF;
	height:auto;
	width:960px;
	padding:20px;
	margin:0 auto;
	position:relative;
	float:left;
	margin-bottom:25px;

}
#page-head-inner
{

	background-color:#FCFCFC;
	height:100%;
	min-height:475px;
	width:960px;
	margin:0 auto;
	float:left;
	position:relative;
	
}
#header-text
{
	background-image:url(../img/background/nav_converse.png);
	background-position:0px 305px;
	width:750px;
	height:auto;
	padding-left:40px;
	padding-top:15px;
	color:#CCC;
	font-weight:bold;
	font-size:30px;
}

#page-inner
{
	background-color:transparent;
	height: auto;
	min-height:440px;
	width:710px;
	margin:0 auto;
	float:left;
	position:relative;



}
#sidebar
{
	background-color:#FFF;
	height: 100%;
	min-height:480px;
	width:248px;
	margin:0 auto;
	float:left;
	}
#page-foot
{
	background-color:#000;
	height: auto;
	min-height:50px;
	width:750px;
	margin:0 auto;
	float:left;
	position:relative;
}
#footer 
{ 
	background:url(../img/background/footer_bg.jpg) repeat-x;
	background-color:#FFF;
	font-size: 11px;
	height: 200px;
	min-width: 985px;
	width: 100%;
	float:left
}
#footer-inner
{
	height: 200px;
	width:980px;
	margin:0 auto;
}
#copyright
{
	background-color:transparent;
	height: 20px;
	width:275px;
	margin:0 auto;
	float:left;
	padding:10px;
	padding-left:20px;
	font-size:12px;
	color:#000;
}
#footer-menu
{
	background-color:#transparent;
	height: 30px;
	width:200px;
	margin:0 auto;
	float:left;
	position:relative;
	left:165px;
	text-align:right;
	padding:10px;
	color:#EEE;
	font-size:12px;
}

#share-sprites
{
	background-color:#transparent;
	height: 50px;
	width:200px;
	margin:0 auto;
	float:left;
	position:relative;
	left:165px;
	text-align:right;
	padding-right:10px;
	font-size:12px;
	color:#EEE
}

.comment
{
	background-color:#000;
	opacity:0.2;
	position:relative;
	bottom:0px;
	width:auto;
	height:auto;
	padding:10px;
	color:#FFF;
	border-radius:5px;
	display:none;	
}
.css_button {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	border-radius:2px;
	margin-top:5px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.css_button:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	cursor:pointer;
}
.css_button:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
#login_button
{
	color: #d9eef7;
	background-color:transparent;
	width:auto;
	height:auto;
	padding:5px;
	border-radius:2px;
	border:0px;
}
#login_button:hover, #login_button:active
{
	background-color:#207C05;
}
.error
{
	background-color:#FFEBEB;
	color:#B40000;
	padding:5px;
	width:auto;
	height:auto;
	border-radius:10px;
	border:#B40000 solid 1px;
}
#image
{
	background-color:#000;
}
.result /* product list*/ /*
{
	position:relative;
	float:left;
	width:230px;
	height:260px;
	border-right:#000 1px solid;
	
}
.result:hover
{
	background-image:url(../img/background/frame.jpg);
}
.product-image
{
	position:relative;
	margin:0 auto;
	margin-top:20px;
	width:180px;
	height:180px;
	overflow:hidden;
	cursor:pointer;
}
.product-name
{
	position:relative;
	margin:0 auto;
	width:180px;
	height:20px;
	text-align:left;

}
.product-price
{
	position:relative;
	margin:0 auto;
	width:180px;
	height:20px;
	text-align:left;

}
#paging
{
	position:relative;
	width:100%;
	height:20px;
	float:left;
}
#paging_inner
{
	position:relative;
	right:0px;
	width:auto;
	min-width:200px;
	height:20px;
	float:right;
	overflow:hidden;
}

#page_text
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
}
.page_conner
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
	background-color:#CCC;
	border:#000 1px solid;
	padding-left:4px;
	padding-right:4px;
	margin-left:2px;
}
.page_conner:hover
{

	background-color:#000;
	color:#FFF;
	border:#000 1px solid;
}
.current
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
	color:#FFF;


}
#top_menu_table td
{
	 border:0px;
	 font-weight:bold;
	 font-family:Arial, Helvetica, sans-serif;
	 color:#EEE;
	 position:relative;
	 float:left;
	 cursor:pointer;
}

#top_menu_table a:hover
{
	color:#FFF;
}
#top_menu_table a
{
	color:#EEE;
}
.space
{
	width:50px;
}


.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.post-item
{
	background-color:#FFF;
	padding:20px;
	width:685px;
	height:auto;
	position:relative;
	float:left;
	margin-bottom:25px;
	margin-right:25px;
	
}
.info
{
	float:left;
	
}
.metadata
{
	float:left;
	padding-left:20px;
	width:520px;
}
.metadata p
{
	color:#333;
}
.info_table td
{
	border-bottom:#000 1px solid;
}
.created_info
{
	background-image:url(../img/icons/on-date.png);
	background-repeat:no-repeat;
	padding-left:20px;
	border-bottom:#000 1px solid;
}
.author_info
{
	background-image:url(../img/icons/post.png);
	background-repeat:no-repeat;
	padding-left:20px;
	border-bottom:#000 1px solid;
}
.folder_info
{
	background-image:url(../img/icons/in-cat.gif);
	background-repeat:no-repeat;
	padding-left:20px;
	border-bottom:#000 1px solid;
}
a.read_more
{
	background-image:url(../img/icons/more-link.png);
	padding:8px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:12px;
	color:#FFF;
	font-weight:bold;
}
.read_more_div
{
	position:absolute;
	right:-12px;
	bottom:12px;
}
.xcomment
{
	background-color:#F5F5F5;
	padding:20px;
	width:685px;
	height:auto;
	position:relative;
	float:left;
	margin-bottom:25px;
	margin-right:25px;
	
}
.comment-inner
{
	background-color:#ECECEC;
	padding:10px;
	margin-bottom:25px;
	border:1px solid #CCC;
}
.comment-info
{
	border-bottom:#000 dotted;
}
.p1
{
	color:#C64000;
	font-style:italic;
}
.p2
{
	color:#C64000;
}
.css_div {
	width:auto;
	float:left;
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	border-radius:2px;
	margin-top:5px;
	margin-left:5px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.css_div:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	cursor:pointer;
}
input ,textarea
{
	background-color:#FFF;
	border-radius:5px;
}
input:hover, textarea:hover
{
	background-color:#FFFFD9;
} */
body {
	font-family::"Times New Roman", Times, serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 0.8em;
	color: #000;
	background-color:#E4E4E4;
	background-attachment:fixed;
	width=100%;
}
a:link,a:visited {
	 text-decoration:none;
	 color:inherit;
 }
img
{
	border:0px !important;
}
#wrapper {
	 width:100%;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;

 }
 #wrapper-inner {
	 width:100%;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;
 }
 #header{
	background:url(../img/background/h.jpg);
	height: 160px;
	width: 100%;
 }

#header-content
{
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
	height: auto;
	width: 100%;
	float:left;

} 
#header-menu
{
	color:#FFF;
	background-color: transparent;
	padding: 10px 0px 10px 0px;
	height: auto;
	width: 1000px;
	margin:0 auto;
	font-size:18px;
}

#top_menu_table a:hover
{
	color:#FFF;
}
#top_menu_table a
{
	color:#EEE;
}
#baseDiv
{
	background-color: transparent;
	height: auto;
	min-height:480px;
	width: 100%;
	position:relative;
	float:left;

}
#baseDiv-inner
{
	background-color:transparent;
	height: auto;
	min-height:480px;
	width: 100%;
	max-width:1000px;
	margin:0 auto;
}
#page
{
	background-color:transparent;
	height: auto;
	min-height:480px;
	max-width:748px;
	width:100%;
	margin:0 auto;
	float:left;
	position:relative;

}
#sidebar
{
	background-color:#FFF;
	height: 100%;
	min-height:480px;
	width:248px;
	margin:0 auto;
	float:left;
}
#page-head
{
	background-color:#FFF;
	height:auto;
	width:960px;
	padding:20px;
	margin:0 auto;
	position:relative;
	float:left;
	margin-bottom:25px;

}
#page-head-inner
{

	background-color:#FCFCFC;
	height:100%;
	min-height:475px;
	width:960px;
	margin:0 auto;
	float:left;
	position:relative;
	
}
select#jumpMenu{
	visibility:hidden;
	position:relative;
	top:-20px;
}
.post-item
{
	background-color:#FFF;
	padding:3%;
	max-width:680px;
	padding:3%;
	width:94%;
	height:auto;
	position:relative;
	float:left;
	margin-bottom:25px;
	margin-right:25px;
	
}
.info
{
	float:left;
	
}
.metadata
{
	float:left;
	padding-left:3%;
	width:76%px;
}
.metadata p
{
	color:#333;
}
.info_table td
{
	border-bottom:#000 1px solid;
}
.created_info
{
	background-image:url(../img/icons/on-date.png);
	background-repeat:no-repeat;
	padding-left:3%;
	border-bottom:#000 1px solid;
}
.author_info
{
	background-image:url(../img/icons/post.png);
	background-repeat:no-repeat;
	padding-left:3%;
	border-bottom:#000 1px solid;
}
.folder_info
{
	background-image:url(../img/icons/in-cat.gif);
	background-repeat:no-repeat;
	padding-left:3%;
	border-bottom:#000 1px solid;
}
a.read_more
{
	background-image:url(../img/icons/more-link.png);
	padding:8px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:12px;
	color:#FFF;
	font-weight:bold;
}
.read_more_div
{
	position:absolute;
	right:-7px;
	bottom:12px;
}
.post-item
{
	background-color:#FFF;
	padding:3%;
	max-width:685px;
	width:92%;
	height:auto;
	position:relative;
	float:left;
	margin-bottom:25px;
	margin-right:25px;
	
}
#paging
{
	position:relative;
	width:94%;
	height:20px;
	float:left;
}
.page_conner
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
	background-color:#CCC;
	border:#000 1px solid;
	padding-left:1%;
	padding-right:1%;
	margin-left:2px;
}
.xcomment
{
	background-color:#F5F5F5;
	padding:3%;
	max-width:685px;
	width:100%;
	height:auto;
	position:relative;
	float:left;
	margin-bottom:25px;
	margin-right:25px;
	
}
.comment-inner
{
	background-color:#ECECEC;
	padding:14%;
	margin-bottom:25px;
	border:1px solid #CCC;
}
.comment-info
{
	border-bottom:#000 dotted;
}
.p1
{
	color:#C64000;
	font-style:italic;
}
.p2
{
	color:#C64000;
}
.css_div {
	width:auto;
	float:left;
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	border-radius:2px;
	margin-top:5px;
	margin-left:5px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.css_div:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	cursor:pointer;
}
img{
	max-width:90%;
}
@media only screen and (min-width:1024px){

	#header-inner { 
		background:url(../img/background/banner.jpg) no-repeat;
		background-color:transparent;
		background-position:center;
		height: 100%;
		margin: 0px auto;
		position: relative;
		width: 1000px;
	
	}
	.space
	{
		width:50px;
	}
}
@media screen and (min-width:769px) and (max-width:1023px){
	#header{
		height:120px;
	}
	#header-inner { 
		background:url(../img/background/banner.jpg) no-repeat;
		background-color:transparent;
		background-size:auto 120px;
		height: 100%;
		margin: 0px auto;
		position: relative;
		width: 100%;
	
	}
	#header-menu{
		width:768px;
		font-size:16px;
		height:20px;
	}
	.space
	{
		width:37px;
	}

	#page-head
	{
		width:100%;
		padding:0px;
	
	}
	#page-head-inner
	{

		width:100%;

	}
	#sidebar
	{
		width:100%;
	}
	
}
@media screen and (max-width:768px) and (min-width:521px){
	#header{
		height:80px;
	}
	#header-inner { 
		background:url(../img/background/banner.jpg) no-repeat;
		background-color:transparent;
		background-size:auto 80px;
		height: 100%;
		margin: 0px auto;
		position: relative;
		width: 100%;
	
	}
	#header-menu{
		width:512px;
		font-size:12px;
		height:20px;
	}
	.space
	{
		width:20px;
	}
	#page-head{
	display:none;
	}
	#top_menu_table{
		visibility:hidden;
	}
	select#jumpMenu{
		visibility:inherit;
		width:100%;
	}
	#sidebar
	{
		width:100%;
	}
}
@media screen and (max-width:520px){
	#header{
		height:80px;
	}
	#header-inner { 
		background:url(../img/background/banner.jpg) no-repeat;
		background-color:transparent;
		background-size:auto 80px;
		height: 100%;
		margin: 0px auto;
		position: relative;
		width: 100%;
	}
	#header-menu{
		width:320px;
		font-size:10px;
		height:20px;
	}
	.space
	{
		width:10px;
	}
	#page-head{
	display:none;
	}
	#top_menu_table{
		visibility:hidden;
	}
	select#jumpMenu{
		visibility:inherit;
		width:100%;
	}
	#sidebar
	{
		width:100%;
	}
		
}