@charset "utf-8";
/* CSS Document */
body {
	font-family::"Times New Roman", Times, serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	color: #000;
	background-image:url(../img/background/bg.jpg);
	background-repeat:repeat-x repeat-y;
	background-attachment:fixed;
	}
a:link,a:visited {
	 text-decoration:none;
	 color:inherit;
 }
img
{
	border:0px !important;
}
#wrapper {
	 width:100%;
	 min-width:985px;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;

 }
 #wrapper-inner {
	 width:100%;
	 min-width:985px;
	 height:auto;
	 margin:0 auto;
	 background-color:transparent;
 }
#header
 {

	border-top: 2px solid #000000;
	height: 90px;
	min-width: 985px;
	width: 100%;
 }
#header-inner 
{ 
	background-image:url(../img/background/blank.jpg);
	background-repeat: no-repeat;
	background-position: 15px;
	height: 100%;
	margin: 0px auto;
	position: relative;
	width: 980px;
	z-index:1002;

}
#header-menu
{
	color:#FFF;
	background-color: transparent;
	height: 50px;
	width: 740px;
	float:left;
}
#user-box
{
	color:#FFF;
	background-color:transparent;
	height: 0px;
	width: 180px;
	float:left;
	text-align:right;
	visibility:hidden;
}
#header-content
{
	background:url(../img/background/nav_converse.png) center 0px transparent;
	height: 100%;
	width: 980px;
	float:left;

}
#header-bg
{
	background-color:transparent;
	height:80px;
	width:740px;
	float:left;
}
#logo
{
	background-color:transparent;
	height:92px;
	width:240px;
	float:left;
}
#search-box
{
	background-color:transparent;
	text-align:right;
	height:30px;
	width:740px;
	float:left;
}
#search-inner
{
	background-color:#000;
	opacity:1;
	margin:10px auto;
	margin-right:10px;
	text-align:left;
	width:290px;
	z-index:0;
	height:40px;
}
#slide-menu
{
	position:relative;
	float:left;
	margin:0 auto;
	left:-210px;
	background:url(../img/background/nav_converse.png) center 250px transparent;
	width:915px;
	padding:10px;
	height:230px;
	z-index:1001;
	visibility:visible;
	


}
#lightbox
{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.9;
	background-color:#000;
	min-width:100%;
	min-height:100%;
	z-index:1000;
}
#status-box
{
	background-color:transparent;
	height:72px;
	width:210px;
	float:left;
	padding:10px;
	visibility:hidden;
}
#baseDiv
{
	background-color: transparent;
	height: auto;
	min-height:480px;
	min-width: 985px;
	width: 100%;
	position:relative;
	z-index:-1;
	
}

#baseDiv-inner
{
	background-color:transparent;
	height: auto;
	min-height:480px;
	width: 999px;
	margin:0 auto;
}

#page
{
	background-color:#FFF;
	height: auto;
	min-height:480px;
	width:936px;
	margin:0 auto;
	float:left;
	position:relative;
	left:25px;
	box-shadow:#FFF 0px 0px 10px;

}
#page-head
{
	background-color:#FFF;
	height:460px;
	width:935px;
	margin:0 auto;
	position:relative;
	float:left;
	box-shadow: 0px 7px 9px #CCC;

}
#top-banner
{
	background-color:#transparent;
	height:390px;
	width:914px;
	margin:0 auto;
	float:left;
	padding:10px;
	position:relative;
	border: #000 solid 1px;
}
#page-head-inner
{
	/*background-image:url(../img/background/nav_converse.png);
	background-position:0px 305px; */
	height:50px;
	width:945px;
	margin:0 auto;
	float:left;
	position:relative;
}
#header-text
{
	background-image:url(../img/background/nav_converse.png);
	background-position:0px 305px;
	width:905px;
	height:35px;
	padding-left:40px;
	padding-top:15px;
	color:#CCC;
	font-weight:bold;
	font-size:30px;
}
#right-arrow
{
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid #B9B9B9;
	float:left;
	position:relative;
	top:10px;
}
#page-inner
{
	background-color:transparent;
	height: auto;
	min-height:140px;
	width:925px;
	margin:0 auto;
	float:left;
	padding:10px;
	position:relative;



}
#sidebar
{
	background-color:transparent;
	height: auto;
	min-height:0px;
	width:0px;
	margin:0 auto;
	float:left;
	visibility:hidden;
}
#page-foot
{
	background-color:transparent;
	height: auto;
	min-height:0px;
	width:915px;
	margin:0 auto;
	float:left;
	position:relative;
}
#footer 
{ 
	background-color:transparent;
	font-size: 11px;
	height: 54px;
	min-width: 985px;
	width: 100%;
	float:left
}
#footer-inner
{
	background:  url(../img/background/nav_converse.png) no-repeat transparent;
	background-position:-11px -92px;
	height: 54px;
	width:980px;
	margin:0 auto;
}
#copyright
{
	background-color:transparent;
	height: 20px;
	width:275px;
	margin:0 auto;
	float:left;
	padding:10px;
	padding-left:20px;
	font-size:12px;
	color:#CCC;
}
#footer-menu
{
	background-color:#transparent;
	height: 30px;
	width:200px;
	margin:0 auto;
	float:left;
	position:relative;
	left:165px;
	text-align:right;
	padding:10px;
	color:#EEE;
	font-size:12px;
}

#share-sprites
{
	background-color:#transparent;
	height: 50px;
	width:200px;
	margin:0 auto;
	float:left;
	position:relative;
	left:165px;
	text-align:right;
	padding-right:10px;
	font-size:12px;
	color:#EEE
}

.comment
{
	background-color:#000;
	opacity:0.2;
	position:relative;
	bottom:0px;
	width:auto;
	height:auto;
	padding:10px;
	color:#FFF;
	border-radius:5px;
	display:none;	
}
.css_button {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	border-radius:2px;
	margin-top:5px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.css_button:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	cursor:pointer;
}
.css_button:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
#login_button
{
	color: #d9eef7;
	background-color:transparent;
	width:auto;
	height:auto;
	padding:5px;
	border-radius:2px;
	border:0px;
}
#login_button:hover, #login_button:active
{
	background-color:#207C05;
}
.error
{
	background-color:#FFEBEB;
	color:#B40000;
	padding:5px;
	width:auto;
	height:auto;
	border-radius:10px;
	border:#B40000 solid 1px;
}
#image
{
	background-color:#000;
}
.result /* product list*/
{
	position:relative;
	float:left;
	width:230px;
	height:260px;
	border-right:#000 1px solid;
	
}
.result:hover
{
	background-image:url(../img/background/frame.jpg);
}
.product-image
{
	position:relative;
	margin:0 auto;
	margin-top:20px;
	width:180px;
	height:180px;
	overflow:hidden;
	cursor:pointer;
}
.product-name
{
	position:relative;
	margin:0 auto;
	width:180px;
	height:20px;
	text-align:left;

}
.product-price
{
	position:relative;
	margin:0 auto;
	width:180px;
	height:20px;
	text-align:left;

}
#paging
{
	position:relative;
	width:100%;
	height:20px;
	float:left;
}
#paging_inner
{
	position:relative;
	width:auto;
	min-width:200px;
	height:20px;
	float:right;
	overflow:hidden;
}

#page_text
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
}
.page_conner
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
	background-color:#CCC;
	border:#000 1px solid;
	padding-left:4px;
	padding-right:4px;
	margin-left:2px;
}
.page_conner:hover
{

	background-color:#000;
	color:#FFF;
	border:#000 1px solid;
	cursor:pointer;
}
.current_page
{
	position:relative;
	width:auto;
	height:auto;
	float:left;
	background-color:#000;
	color:#CCC;
	border:#000 1px solid;
	padding-left:4px;
	padding-right:4px;
	margin-left:2px;
}
#top_menu_table td
{
	 border:0px;
	 font-weight:bold;
	 font-family:Arial, Helvetica, sans-serif;
	 color:#ACACAC;
	 position:relative;
	 margin-top:15px;
	 float:left;
	 cursor:pointer;
}

#top_menu_table a:hover
{
	color:#FFF;
}
#top_menu_table a
{
	color:#ACACAC;
}
.space
{
	width:50px;
}

.SlideMenuDiv
{
	width:auto;
	float:left;
	margin-left:20px;
}
.SlideMenuTable th
{
	 border:0px;
	 font-weight:bold;
	 font-family:Tahoma, Geneva, sans-serif;
	 color:#363636;
	 position:relative;
	 margin-top:15px;
	 float:left;
	 cursor:pointer;
	 font-size:20px;
	 padding:5px;
	 text-transform:uppercase;

}
.SlideMenuTable .Loai
{
	
	width:150px;
	border-bottom:#000 solid 2px;
}
.SlideMenuTable a:link , a:visited 
{
	color:#000;
}
.SlideMenuTable a:hover
{
	color:#FFF;
}
.SlideMenuSpace
{
	width:50px;
}
.SlideMenuTable td
{
	 border:0px;
	 color:#363636;
	 cursor:pointer;
	 padding:1px;
	 cursor:pointer;

}
.SlideMenuTable a:hover
{
	font-weight:bold;
	color:#000;
}
.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

